.user {
  background-color: #fff;
  border-bottom: 1px solid #999;
  padding: 10px;
  width: 95%;
  &>div{
    display: flex;
  }
}

.active {
  background-color: antiquewhite;
}

@media screen and (min-width: 768px) {
  .user {
    cursor: pointer;
    width: 100%;

  }
}
